<% if current_user %>
  <h1>Hello <%= current_user.first_name %>, welcome to WAD climbing!</h1>
<% end %>

<div class="index">
  <% @crags.each do |crag| %>
    <div class="crag">
      <div class="landscape" style="background-image:url(<%= image_path(crag.image) %>)"></div>
      <h3><%= crag.name %></h3>
    </div>
  <% end %>
</div>

 <div class="map-container">
    <h2>Crags:</h2>
    <div id="home-map"></div>
  </div>
</div>


<script type="text/javascript">
  var crags = <%= raw JSON.generate(@crags.map(&:as_json))  %>;
  var mymap = L.map('home-map').setView([51.505, -0.115], 4);
  var layer = new L.StamenTileLayer("terrain");
  mymap.addLayer(layer);
  var addCircle = function (crag){
    circle = L.circle([crag.location_lat, crag.location_lon], {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5,
    radius: crag.radius*1000,
    }).addTo(mymap);
    circle.bindPopup(`<a href="/users/${crag.id}" >${crag.name}</a>`);
  }
  function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {
    var R = 6371; // Radius of the earth in km
    var dLat = deg2rad(lat2-lat1);  // deg2rad below
    var dLon = deg2rad(lon2-lon1);
    var a =
      Math.sin(dLat/2) * Math.sin(dLat/2) +
      Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
      Math.sin(dLon/2) * Math.sin(dLon/2)
      ;
    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
    var d = R * c; // Distance in km
    return d;
  }

  function deg2rad(deg) {
    return deg * (Math.PI/180)
  }
  function onMapClick(event) {
    mymap.eachLayer(function (layer) {
      mymap.removeLayer(layer);
    });
    mymap.addLayer(layer);
    console.log("map clicked");
    crags.forEach(function(crag){
      if (getDistanceFromLatLonInKm(crag.location_lat, crag.location_lon, event.latlng.lat, event.latlng.lng) < crag.radius){
        addCircle(crag);

      };
    });
  }

  crags.forEach(function(crag){
    addCircle(crag);
  });



</script>
